$black: #000;
$white: #fff;
$gray: #adadad;

$menu-border: #4e6096;

html, body, #pquiz, .page {
  height: 100%;
  margin: 0;
}

h2 {
  margin: 12px 0;
}

button {
  border: 0;
}

.quiz {
  display: flex;
  flex-direction: column;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: .25em;

  button {
    margin: 2px;
    font-size: 1em;
  }
}

.groups {
  flex: 0 1 100%;
}

.row {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.group {
  display: flex;
  flex-direction: column;
  border: 2px solid $black;
  border-radius: 6px;
  margin: 5px;
  width: 100%;

  .title, .points {
    font-size: calc(1vw + 1vh + 1vmin);
  }

  .title {
    cursor: text;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 .2em .2em;
    overflow: hidden;
    text-align: center;
    word-wrap: break-word;
    border-bottom: 1px solid $black;
    background: #ddd;
    position: relative;

    .remove {
      position: absolute;
      right: 0;
      font-size: .5em;
      opacity: 0;
      transition: opacity .2s ease-in-out;
    }

    &:hover {
      .remove {
        opacity: 1;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;

    .points {
      text-align: center;
      margin: 0;
    }

    .input {
      height: 2em;

      > * {
        height: 100%;
      }

      input {
        font-size: 1.5em;
        padding-left: 5px;
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid $black;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid $black;
        outline: none;
      }

      .topic {
        border-top: 3px solid $black;
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        height: 100%;
        margin-top: auto;

        &:first-child {
          border-left: 0;
        }

        &:last-child {
          border-right: 0;
        }
      }
    }

    .theme {
      display: flex;
    }

    .observations {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow-y: auto;

      &.default {
        flex: 1 0 auto;
      }

      &.local {
        flex: 1 1 100%;
      }
    }

    .observation {
      display: flex;
      padding: 5px;

      .label {
        width: 100%;
        padding: 5px;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 1.2em;
      }

      .tally {
        display: flex;
        flex: 1 0 auto;
        font-weight: bold;
        font-size: 1em;
      }

      button {
        background: transparent;
      }

      .buttons {
        display: flex;
        flex: 1 0 auto;
      }

      .strike {
        margin-left: auto;
      }
    }
  }
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1c7556;

  * {
    background: $white;
  }

  .content {
    height: 100%;
    width: 500px;
    padding: 10px;

    h1 {
      margin-top: 0;
    }
  }
}

.add-button {
  font-size: 1.5em;
  background: #1c7556;
  color: $white;
  width: 1.5em;
  border-radius: 7%;
}

.topics {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topic.button {
  flex: 1 1 100%;
  font-weight: bold;
  font-size: calc(1vw + 1vh);
  padding: 3px;
}

.topic.editable {
  display: block;
  margin-bottom: 1em;
  border: 1px solid black;

  .row {
    display: flex;
    flex-direction: row;

    .remove {
      display: flex;
      flex-direction: column;
      font-size: 1em;
    }
  }

  .field {
    display: flex;
    flex: 1 1 auto;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: .7em;
    position: relative;

    div {
      display: block;
      margin: 3px;
      position: absolute;
      height: 20px;
      top: 0px;
      font-size: 0.9em;
    }

    input {
      width: 100%;
      position: relative;
      margin-top: 20px;
      font-weight: bold;
      font-family: sans-serif;
    }
  }

  .small-fields {
    .field {
      display: flex;
      flex: 1 1 1%;
      border-top: 1px solid gray;
      border-right: 1px solid gray;
      // margin: 3px;

      &:last-child {
        border-right: 0;
      }

      input {
        flex: 1 1 auto;
        text-align: center;
      }
    }
  }

  input {
    margin: 3px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: serif;
  }
}

.hidden {
  display: none;
}
