$black: #000;
$white: #fff;
$gray: #adadad;

$menu-border: #4e6096;

$first-input-bg: #44c767;
$first-input-border: #33944d;
$second-input-bg: #e4dc81;
$second-input-border: #c6b92a;
$third-input-bg: #f24537;
$third-input-border: #8a2a21;

$color-1: hsla(115, 100%, 90%, 1);
$color-2: hsla(55, 100%, 90%, 0);
$color-3: hsla(0, 100%, 90%, 1);
$colors: $color-1 $color-2 $color-3;

body {
  margin: 0;
}

.menu {
  text-align: center;
}

h2 {
  &.hidden {
    display: none;
  }
}

button {
  &.menu-button {
    background-color: $black;
    border: 2px solid $menu-border;
    color: $white;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    margin: 2.5px;
    padding: 3px;
  }

  &.input-button {
    &.first-kind {
      background-color: $first-input-bg;
      border-color: $first-input-border;
    }

    &.second-kind {
      background-color: $second-input-bg;
      border-color: $second-input-border;
    }

    &.third-kind {
      background-color: $third-input-bg;
      border-color: $third-input-border;
    }
  }

  &.remove {
    background-color: transparent;
    border-style: none;
    color: $gray;
    cursor: pointer;
    float: right;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
}

.layout-option {
  font-size: 28px;
  font-weight: bold;
  margin-left: 5px;

  button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
  }

  .counter {
    cursor: default;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-top: 3px;
    text-align: center;
    width: 20px;
  }
}

.groups-list {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.group-box-3 {
  flex: none;
  width: 33.333%;
}

.group-box-4 {
  flex: none;
  width: 25%;
}

.group-box-5 {
  flex: none;
  width: 20%;
}

.buttons {
  display: block;
  font-size: medium;
  text-align: center;
}


.group {
  border: 2px solid $black;
  border-radius: 6px;
  margin: 5px;

  .title {
    cursor: text;
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: bold;
    margin-left: .2em;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
  }

  .group-input {
    height: fit-content;

    .enter {
      display: none;
    }

    &.entering {
      .enter {
        display: block;
        font-size: medium;
        height: 1.7em;
        text-align: center;
        width: 99%;
      }

      .buttons {
        display: none;
      }
    }
  }
}

.input-button {
  background-color: $white;
  border-color: $black;
  border-style: solid;
  border-width: 2px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  width: 3px / 9px * 100%;
}

.points {
  cursor: default;
  display: block;
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

@for $i from 1 through 10 {
  $dec: 5% * $i;

  .points {
    &.total-#{i} {
      background-color: hsla(0, 100%, 100%-$dec, 1);
      margin: 0 (50% - $dec);

      .pos {
        background-color: hsla(115, 100%, 100%-$dec, 1);
        margin: 0 (50% - $dec);
      }
    }

    &.total-0 {
      background-color: hsla(0, 100%, 100%, 1);
      margin: 0 40%;
    }
  }
}

section {
  height: 12em;
  overflow: auto;
}

.observation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.obs-counter {
  align-self: flex-start;
  display: flex;
  flex: 0 0 auto;
  float: left;
  justify-content: flex-end;
  margin-top: .21em;
  width: 52px;

  button {
    &.increment {
      background-color: transparent;
      border-style: none;
      cursor: pointer;
      display: inline-block;
      flex: 1 0 auto;
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .count {
    cursor: default;
    display: flex;
    flex: 0 0 auto;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    width: 1.1em;
  }
}

.observation {
  display: flex;
  flex-direction: row;

  @for $kind from 1 through 3 {
    &.kind-#{$kind} {
      background-color: darken(nth($colors, $kind), 35%);
      display: flex;
      flex-direction: row;

      @for $kind from 1 through 3 {
        @for $count from 0 through 5 {
          &.count-#{$count} {
            background-color: darken(nth($colors, $kind), $count * 7%);
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
  }

  .description {
    display: flex;
    flex: 1 0 75%;
    font-weight: bold;
    margin-left: 5px;
    overflow: hidden;
    text-align: left;
  }

  .right-buttons {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column wrap;

    button {
      background-color: transparent;
      border-style: none;
      color: $gray;
      cursor: pointer;
      display: block;
      font-family: sans-serif;
      font-size: .7em;
      font-weight: bold;
      text-align: center;
    }
  }

  .view {
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 2px;
    text-align: left;
    word-wrap: break-word;
  }
}

.struck {
  text-decoration: line-through;
}

.description {
  &.editing {
    .edit {
      display: inline-block;
      flex: 1 0 75%;
      font-family: sans-serif;
      font-size: 1.2em;
      overflow: hidden;
      text-align: left;
    }

    .view {
      display: none;
    }
  }

  .edit {
    display: none;
  }

}
