$black: #000;
$white: #fff;
$light-gray: #ddd;
$gray: #adadad;
$dark-gray: #b7b7b7;
$green: #1c7556;

$menu-border: #4e6096;
$tab-color: #ddd;
$tab-border-color: #aaa;

* {
  &:focus {
    outline: none;
  }
}

input, textarea, select, button, html {
  font-family: Roboto;
}

html, body, #pquiz, .page {
  height: 100%;
  margin: 0;
  background: $dark-gray;
}

.page {
  &.blurred {
    filter: blur(3px);
  }
}

button,
a {
  border: 0;
  padding: 0;
  cursor: pointer;
  font-family: Roboto;

  &.floating {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    padding: 0 7px;
  }

  &.float-left {
    left: 0;
  }

  &.float-right {
    right: 0;
  }
}

.unobtrusive {
  opacity: 0;
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  transform: translateX(0);
  background: transparent;
}

.hidden {
  display: none;
}

.quiz {
  display: flex;
  flex-direction: column;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2px 0 .25em;

  button,
  a {
    margin: 2px;
    font-size: 1em;
    background: $light-gray;
    color: #333;
    padding: 1px 6px;
    text-decoration: none;
  }
}

.inline-remove {
  display: flex;
  flex-direction: column;
  transform: translateY(-5px);
}

.groups {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.group {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  overflow: hidden;
  margin: 8px 5px 0px;

  &:first-child {
    margin-left: 8px;
  }

  &:last-child {
    margin-right: 8px;
  }

  .banner, .points {
    font-weight: bold;
  }

  .banner-container {
    display: flex;
    flex-direction: column;
    background: $light-gray;
    position: relative;
  }

  .banner {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;

    .title {
      flex: 1 1 auto;
      width: 100%;
      border: 0;
      outline: 0;
      background: transparent;
      font-weight: 900;
      text-align: center;
    }

    button {
      flex: 0;
      font-size: 1em;
      color: $green;
      width: 2em;

      &.left {
        margin-right: auto;
      }

      &.right {
        margin-left: auto;
      }
    }
  }

  .remove {
    font-size: 1em;
  }

  .drawer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .drawer {
    display: flex;
    position: absolute;
    transform: translateY(calc(100% - 12.5px));
    bottom: 0;
    width: 100%;
    background: transparent;
    transition: transform .3s ease-in-out;

    .theme {
      display: flex;
      flex: 0 1 100%;
      background: transparent;
      transition: background-color .3s ease-in-out;
    }

    .buttons {
      flex-wrap: wrap;
      width: 100%;
    }

    .topic-container {
      margin: 4px 2.5px;
      border-radius: 2px;
      background: $white;
      flex: 1;

      .button {
        height: 100%;
        padding: 5px;
      }

      &:first-child {
        margin-left: 5px;
      }

      &:last-child {
        margin-right: 5px;
      }
    }

    .input-container {
      display: flex;
      flex: 1;
    }

    .symbol {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      font-weight: bold;
      width: 2em;
    }

    .observation {
      flex: 1;
      font-size: 24px;
      font-weight: bold;
      box-sizing: border-box;
      border: 0;
      outline: 0;
      background: transparent;
      margin: 5px 8px;
      padding: 0;
    }

    .cancel {
      padding: 0;
      margin: 11px;
      font-size: 1em;
      // width: 2em;
      color: #888;
      background: transparent;
    }

    &.open {
      bottom: 0;
      background: $white;
    }
  }

  &:hover {
    .unobtrusive {
      &.banner-btn {
        opacity: 1;
      }
    }

    .drawer {
      transform: translateY(0);

      .theme {
        background: $light-gray;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    overflow: hidden;
    position: relative;
    background: $white;

    .points {
      text-align: center;
      margin: 0;
    }
  }

  .observations {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;

    &.default {
      flex: 1 0 auto;
    }

    &.local {
      flex: 1 1 100%;
    }
  }

  .observation {
    display: flex;
    position: relative;

    .container {
      display: flex;
      width: 100%;
      position: relative;

      button {
        background: transparent;
      }

      .buttons {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        height: 100%;
        background: inherit;

        button {
          margin: 0 5px;
        }

        &.start {
          width: 2em;
        }

        &.end {
          position: absolute;
          left: 100%;
          top: 0;
          background: white;
        }
      }

      .label {
        font-weight: bold;
        outline: 0;
        word-break: break-word;
        background : transparent;
        border: none;
        width: 100%;
        padding: 8px 5px;

        &.editing {
          height: 4em;
        }

        &.static {
          cursor: default;
        }
      }
    }

    .tally {
      display: flex;
      flex: 1 0 auto;
      font-weight: bold;
      font-size: 1em;
      justify-content: center;
    }

    .strike {
      margin-left: auto;
    }

    &.struck {
      .start {
        visibility: hidden;
      }

      .label {
        font-weight: normal;
        text-decoration: line-through;
      }

      .strike {
        display: none;
      }
    }

    &:hover {
      :not(.editing) + .unobtrusive {
        opacity: 1;
        transform: translateX(-100%);
      }
    }
  }
}

.grid {
  .group {
    .banner {
      .title {
        font-size: 1.7em;
      }
    }
  }

  .observation {
    font-size: 20px;
  }
}

.column {
  .group {
    .banner {
      justify-content: flex-start;

      .title {
        font-size: 1.2em;
      }
    }
  }

  .label {
    font-size: 14px;
  }

  .buttons {
    &.start {
      width: 20px;
      font-size: 14px;
    }
  }
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  &.hidden {
    visibility: hidden;
  }

  .modal {
    width: 800px;
    border-radius: 5px;
    height: 82%;
    background: $white;
    display: flex;
    flex-direction: column;
    font-size: 150%;
    overflow: hidden;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    font-weight: bold;

    .tab {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      border-left: 2px solid $tab-border-color;
      border-bottom: 2px solid $tab-border-color;
      padding: 5px;
      font-size: 85%;
      background: $tab-color;

      &:first-child {
        padding-left: 8px;
        border-left-width: 0;
      }

      &:last-child {
        padding-right: 8px;
      }

      &.preceding {
        border-bottom-right-radius: 5px;
        border-right: 2px solid $tab-border-color;
      }

      &.selected {
        background: $white;
        border: none;
        font-size: 95%;

        + .tab {
          border-bottom-left-radius: 5px;
        }
      }
    }

    .tab-label {
      flex: 1 1 auto;
      cursor: pointer;
      text-align: center;
    }
  }

  .group {
    margin: 0;
    font-size: 150%;

    .title {
      font-size: 1em;
    }

    button {
      cursor: not-allowed;
    }

    .observations {
      &.default {
        margin-bottom: .2em;
      }

      &.local {
        cursor: scroll;
      }
    }

    .drawer {
      display: none;
    }
  }
}

.settings {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 100%;
  font-size: 75%;

  section {
    margin-bottom: 1em;
  }

  .title {
    flex: 0;
    margin-top: 0;
  }

  .content {
    flex: 0 1 auto;
    overflow-y: scroll;
  }

  .delete-btn {
    padding: 0 5px;
  }

  .buttons {
    flex: 1 0 auto;
    display: flex;
    margin-top: .7em;
    position: relative;
    bottom: 0;
    background: transparent;

    button {
      flex: 1;
      text-align: center;
      padding: .2em;
    }

    .cancel {
      background: $white;
      color: $green;
    }

    .spacer {
      width: 1em;
      background: transparent;
    }
  }

  .format {
    .options {
      display: flex;

      * {
        background: transparent;
      }

      .option {
        background: #e1e1e1;
        border-radius: 5px;
        margin: .3em .5em .3em 0;
        padding: .4em;
        cursor: pointer;
        flex: 1;

        &:last-child {
          margin-right: 0;
        }
      }

      .selected {
        background: $green;
        color: white;

        .description {
          color: white;
        }
      }

      .title {
        font-size: 1.2em;
        margin-bottom: .2em;
      }

      .description {
        font-size: .7em;
        display: block;
        color: dimgray;
      }
    }
  }

  .observation {
    display: flex;
    flex: 0 1 100%;

    .label {
      flex: 0 1 100%;
    }
  }

  h2 {
    display: flex;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .hint {
    font-size: .7em;
    color: #777;
  }

  .add-button {
    margin-left: auto;
    width: 1.5em;
    font-weight: bold;
  }

  button {
    background: $green;
    color: $white;
    border-radius: 2px;
    font-size: 1em;

    &.inverted {
      background: $white;
      color: $green;
    }

    &.large {
      font-size: 1.2em;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid black;
    position: relative;

    &:last-child {
      border: none;
    }

    .remove{
      font-size: .9em;
      color: $black;
      background: transparent;
    }
  }
}

.topic {
  &.button {
    width: 100%;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 10px 0;
    border-radius: 2px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &.editable {
    display: block;

    .row {
      display: flex;
      flex-direction: row;

      .symbol {
        text-align: center;
      }
    }
  }
}

.field {
  display: flex;
  flex: 1 1 auto;
  text-transform: uppercase;
  font-size: .7em;
  position: relative;

  div {
    display: block;
    margin: 3px;
    position: absolute;
    height: 20px;
    top: 0px;
    font-size: 0.9em;
  }

  input,
  select {
    width: 100%;
    position: relative;
    font-weight: bold;
    margin: 20px 3px 3px;
    border: 1px solid $light-gray;
    outline: none;
    font-size: 1rem;
  }

  select {
    border-top: none;
    border-left: none;
    border-right: none;
  }

  input {
    padding: 2px 4px;
  }
}

.small-fields {
  .field {
    display: flex;
    flex: 1 1 1%;

    input {
      flex: 1 1 auto;
      text-align: center;
    }
  }
}
